body {
  background-color: #1f1f32;
  color: #f5f6f7;
  font-family: Helvetica;
  font-size: 24px;
  text-align: center;
  display: block;
  margin: auto;
}

ul {
  list-style-type: none;
}

li {
  padding: 0.8rem;
}

a {
  color: #55a5f5;
  text-decoration: none;
}
