body {
    background-color: #1f1f32;
    color: #f5f6f7;
    font-family: Helvetica;
    font-size: 32px;
    text-align: center;
    display: block;
    margin: auto;
}

h1 {
    padding: 3rem;
}

h2 {
    padding: 1rem;
}

a {
    color: #55a5f5;
}
